{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}

{% block html_head %}
    {# Redicilous display fix because Django cannot <label> right #}
    <style nonce="{{ request.csp_nonce }}">
        form label {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block header_title %}
    {% trans 'create_account:content:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12 mb-3">
            {% if status == 'ready' %}
                <h3>
                    {% trans 'create_account:content:form:header' %}
                </h3>
                <p>
                    {% trans 'create_account:content:form:p1' %}
                </p>
                <p>
                    {% trans 'globals:content:personal_information_info' %} <a
                        href="mailto:{{ admin.email }}">{{ admin.email }}</a>.
                </p>
                <p>
                    {% trans 'global:content:experiment_crit_info' %}
                </p>
                <br/>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table width="100%">
                        {{ form.as_table }}
                    </table>
                    <br/>
                    <div class="float-right">
                        <button type="submit">{% trans 'globals:create_account' %}</button>
                    </div>
                </form>
            {% elif status == 'account_created' %}
                <h3>
                    {% trans 'create_account:content:created:header' %}
                </h3>
                <p>
                    {% trans 'create_account:content:created:p1' %}
                </p>
                <p>
                    {% trans 'create_account:content:created:p2' %}
                </p>
            {% elif status == 'account_already_exists' %}
                <h2>
                    {% trans 'create_account:content:already_exists:header' %}
                </h2>
                <p>
                    {% trans 'create_account:content:already_exists:p1' %}
                </p>
                <p>
                    {% url 'main:forgot_password' as forgot_password %}
                    {% transformat 'create_account:content:already_exists:p2' forgot_password %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}