{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load static %}

{% block html_head %}
    <script src="{% static 'uil.core/js/form_helpers.js' %}"></script>
    <script src="{% static 'uil.core/js/jquery.mask.min.js' %}"></script>

    <link href="{% static 'participant/register/style.css' %}" rel="stylesheet" />
    <script src="{% static 'participant/register/birthdate.js' %}"></script>

    <script nonce="{{ request.csp_nonce }}">
    $(function () {
        add_title('timeslot', 'Kies hieronder een tijdstip:');

        // Disable the submit button after successful validation and present
        // a loading animation. This is done to make it harder to resubmit a form
        // and also indicate it's actually doing something
        $('#submit').click((e) => {
            let el = $('#submit');

            if($('form')[0].checkValidity()) {
                el.prop('disabled', true);
                el.toggleClass('button--loading')
            }
        });
    });
    </script>
    <style nonce="{{ request.csp_nonce }}">
    @media (min-width: 869px) {
        th, td {
            padding: 20px 0;
        }
    }
    </style>
{% endblock%}

{% block header_title %}
    {% trans 'register:content:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    {% include 'participant/exp_info.html' %}
</div>
<div class="uu-inner-container">
    <div class="col-12">
        <hr>
        <h3>Aangemeld</h3>
        <p>Je bent ingeschreven voor het experiment! Je krijgt een bevestiging per email.</p>
    </div>
</div>
{% endblock %}
