{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load static %}

{% block html_head %}
    <script src="{% static 'uil.core/js/form_helpers.js' %}"></script>
    <script src="{% static 'uil.core/js/jquery.mask.min.js' %}"></script>

    <link href="{% static 'participant/register/style.css' %}" rel="stylesheet" />
    <script src="{% static 'participant/register/birthdate.js' %}"></script>
    <script src="{% static 'participant/register/recolor_error.js' %}"></script>

    <script nonce="{{ request.csp_nonce }}">
    $(function () {
        add_title('timeslot', 'Kies hieronder een tijdstip:');
    });
    </script>
    <style nonce="{{ request.csp_nonce }}">
    @media (min-width: 869px) {
        th, td {
            padding: 20px 0;
        }
    }
    </style>
{% endblock%}

{% block header_title %}
    {% trans 'register:content:header' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-sm-8 col-xs-12">
        <h3>
            {% trans 'register:content:header' %} '{{ experiment.name }}'
        </h3>
        <p>
            {% transformat 'register:content:duration'  experiment.duration  %}.
            {% trans 'register:content:location' %}
            {% if experiment.location.route_url %}
                <a href="{{ experiment.location.route_url }}" target="_blank">
                    {{ experiment.location.name }}
                </a>
            {% else %}
                {{ experiment.location.name }}
            {% endif %}.
        </p>
        <p>
            {% trans 'register:content:details' %}
            <ul>
                <li>
                    {% transformat 'register:content:compensation' experiment.compensation %}
                </li>
                {% if experiment.task_description %}
                    <li>
                        {{ experiment.task_description }}
                    </li>
                {% endif %}
                {% if experiment.additional_instructions %}
                    <li>
                        {{ experiment.additional_instructions }}
                    </li>
                {% endif %}
            </ul>
        </p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h4 class="mt-2">
            {% trans 'register:content:leader' %} {{ experiment.leader.name }}
        </h4>
        {% if experiment.leader.photo %}
            <img src="{{ experiment.leader.photo.url }}" title="{{ experiment.leader.name }}" alt="{{ experiment.leader.name }}" class="leader-image" />
        {% endif %}
        {% if experiment.additional_leaders %}
            <p>
                {% transformat 'register:content:other_leaders' %}
                {{ experiment.display_additional_leaders }}
            </p>
        {% endif %}
    </div>
</div>
{%  if not already_registered %}
    <div class="uu-inner-container">
        <div class="col-12">
            {% if api_messages %}
                <hr>
                {% if success %}
                    <h3>Aangemeld</h3>
                {% else %}
                    <h3>Waarschuwing! Je bent (nog) niet aangemeld!</h3>
                {% endif %}
                {% if api_messages %}
                    {% if not success %}
                        <p>
                            Helaas, de inschrijving is mislukt om de volgende reden(en):
                        </p>
                    {% endif %}
                    <p>
                        {% for message in api_messages %}
                            {{ message }} <br/>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endif %}
            {% if success == None or recoverable == True %}
            <hr/>
            <form method="post">
                {% csrf_token %}
                <table width="100%">
                    {{ form.as_table }}
                </table>
                <div class="float-right mt-3">
                    <button type="reset">Reset</button>
                    <button type="submit">Schrijf je in!</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}