{% extends 'base/base.html' %}

{% block header_title %}
    Opgeven voor mailing list en/of account aanmaken - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="uu-inner-container">
        <div class="col-12 mb-3">

            <h1>Account aangemaakt</h1>
            <p>Je account is succesvol aangemaakt!</p>
            <p>
                We hebben je een e-mail gestuurd met instructies voor het
                instellen van je wachtwoord.
            </p>
        </div>
    </div>
{% endblock %}
