{% extends "base/base.html" %}
{% load i18n %}
{% load transformat %}
{% load static %}

{% block html_head %}
        <link href="{% static 'participant/register/style.css' %}" rel="stylesheet" />
{% endblock%}

{% block header_title %}
    {% trans 'subscribe_mailinglist:content:title' %} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <h3>
            {% trans 'subscribe_mailinglist:content:header' %}
        </h3>
        {% if success is not None %}
            <p>
                {% if success %}
                    {% trans 'subscribe_mailinglist:content:successfully_added' %}
                {% else %}
                    {% trans 'subscribe_mailinglist:content:already_known' %}
                {% endif %}
            </p>
        {% else %}
            <p>
            {% trans 'subscribe_mailinglist:content:p1' %}
            </p>
            <p>
                {% trans 'subscribe_mailinglist:content:p2' %} <a href="mailto:{{ admin.email }}">
                    {{ admin.email }}
                </a>.
            </p>
            <p>
                {% trans 'subscribe_mailinglist:content:p3' %}
            </p>
            <form method="post">
                {% csrf_token %}
                <table width="100%">
                    {{ form.as_table }}
                </table>
                <div class="float-right mt-3">
                    <button type="reset">Reset</button>
                    <button type="submit">Geef je op</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}