### Django ###
*.log
*.pot
*.pyc
__pycache__/


### Project-specific ###
db.sqlite3

## Django ##
*.mo # Binary translation files. Should be generated on deployment or when testing

### Virtual environments ###
venv
env

### IDE ###
.idea

## project
media/