Django>=4.2,<4.3
django-filter
django-braces
django-csp
django-simple-menu
django-debug-toolbar
django-requests-debug-toolbar
django-axes
django-extensions # QoF for the admin, adds a lot of useful manage.py commands
requests
pip-tools
cryptography
PyJWT
bpython
pillow
cdh-django-core[all] @ git+https://github.com/CentreForDigitalHumanities/django-shared-core.git@v3.1.0
mysqlclient
backports-datetime-fromisoformat
babel
