Django>=3.2,<3.3
django-braces
django-csp
django-simple-menu
django-debug-toolbar
django-axes
django-extensions # QoF for the admin, adds a lot of useful manage.py commands
requests
pip-tools
cryptography
PyJWT
bpython
pillow
-e git+https://github.com/UiL-OTS-labs/django-shared-core.git@v2.0.5#egg=uil-django-core
mysqlclient
backports-datetime-fromisoformat
babel