{% extends "base/ppn_base.html" %}
{% load i18n %}

{% block html_head %}
    {# Redicilous display fix because Django cannot <label> right #}
    <style nonce="{{ request.csp_nonce }}">
        form label {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block header_title %}
    {% trans 'change_password:content:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% trans 'change_password:content:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        {% if forced %}
            <p>
                {% trans 'change_password:content:forced_change' %}
            </p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table w-100">
                {{ form.as_table }}
            </table>

            <button type="submit" class="btn btn-primary">{% trans 'globals:save_button' %}</button>
        </form>
    </div>
</div>
{% endblock %}
