{% extends "base/ppn_base.html" %}
{% load i18n %}

{% block header_title %}
    {% trans 'forgot_password:content:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% trans 'forgot_password:content:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12 col-md-4">
        <p>
            {% trans 'forgot_password:content:help_text' %}
        </p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mt-3">{% trans 'forgot_password:content:request_button' %}</button>
        </form>
    </div>
</div>
{% endblock %}
