{% extends "base/base.html" %}
{% load i18n %}


{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <p>
            {% trans 'index:content:intro1' %}
        </p>
        <p>
            {% trans 'index:content:intro2' %}
        </p>

        <h3>{% trans 'index:header:open_experiments' %}</h3>
        <ul>
            {% for experiment in experiments %}
                <li>
                    <a href="{% url 'participant:register' experiment.id %}">
                        {{ experiment.name }}
                    </a>
                </li>
            {% empty %}
                {% trans 'index:content:no_experiments_available' %}
            {% endfor %}
        </ul>
        <p>
            {% trans 'index:content:cancel' %}
        </p>
        {% if request.user.is_anonymous or not request.user.is_participant %}
            <h3>
                {% trans 'index:header:maillinglist' %}
            </h3>
            <p>
                {% trans 'index:content:maillinglist1' %}
            </p>
            <p>
                {% trans 'index:content:maillinglist2' %}
                <a href="mailto:{{ admin.email }}">{{ admin.email }}</a>.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}