{% extends "base/base.html" %}
{% load vue_tags %}
{% load i18n %}
{% load transformat %}

{% block html_head %}
    {% include 'uil.vue/vueloader.html' %}

    {% load_vue_component 'ExperimentList' request.csp_nonce %}

    <script nonce="{{ request.csp_nonce }}">
        // Needs to be wrapped into an onload to ensure all dependencies are loaded
        window.onload = _ => {
            const i18n = new VueI18n({
                locale: '{{ LANGUAGE_CODE }}',
            });
            new Vue({
                i18n,
                el: "#list",
                components: {
                    // Loaded by the load_vue_component tag, no need to manually load this
                    ExperimentList
                },
                template: "<ExperimentList></ExperimentList>",
            });
        }
    </script>
{% endblock %}

{% block content %}
<div class="uu-inner-container">
    <div class="col-12">
        <p>
            {% trans 'index:content:intro1' %}
        </p>
        <p>
            {% trans 'index:content:intro2' %}
        </p>

        <p class="mb-4">
            {% trans 'index:content:intro3' %}
        </p>

        <h3>{% trans 'index:header:open_experiments' %}</h3>
            <div id="list"></div>
        <p class="mb-4">
            {% url 'participant:cancel_landing' as cancel_url %}
            {% transformat 'index:content:cancel' cancel_url %}
        </p>
        {% if request.user.is_anonymous or not request.user.is_participant %}
            <h3>
                {% trans 'index:header:maillinglist' %}
            </h3>
            <p>
                {% url 'participant:subscribe' as mailinglist_url %}
                {% transformat 'index:content:maillinglist1' mailinglist_url %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}