{% extends "base/ppn_base.html" %}
{% load vue_tags %}
{% load i18n %}
{% load transformat %}
{% load static %}

{% block html_head %}
    {{ block.super }}
    {% include 'cdh.vue/vueloader.html' %}

    {% load_vue_component 'ExperimentList' request.csp_nonce %}

    <script nonce="{{ request.csp_nonce }}">
        // Needs to be wrapped into an onload to ensure all dependencies are loaded
        window.onload = _ => {
            const i18n = new VueI18n({
                locale: '{{ LANGUAGE_CODE }}',
            });
            new Vue({
                i18n,
                el: "#list",
                components: {
                    // Loaded by the load_vue_component tag, no need to manually load this
                    ExperimentList
                },
                template: "<ExperimentList></ExperimentList>",
            });
        }
    </script>
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-cover h-300">
{#        <img class="uu-cover-image" alt="cover" src="{% static 'main/img.png' %}" />#}
    </div>
    <div class="uu-hero">
        <h1>Experimenten ILS Labs</h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>
            {% trans 'index:content:intro1' %}
        </p>
        <p>
            {% trans 'index:content:intro2' %}
        </p>

        <p class="mb-4">
            {% trans 'index:content:intro3' %}
        </p>
    </div>
</div>
<div class="uu-container">
    <div class="col-12">
        <h2>{% trans 'index:header:open_experiments' %}</h2>
            <div id="list"></div>
        <p class="mb-4">
            {% url 'participant:cancel_landing' as cancel_url %}
            {% transformat 'index:content:cancel' cancel_url %}
        </p>
    </div>
</div>
{% if request.user.is_anonymous or not request.user.is_participant %}
    <div class="uu-container">
        <div class="col-12">
            <h2>
                {% trans 'index:header:maillinglist' %}
            </h2>
            <p>
                {% url 'participant:sign_up' as mailinglist_url %}
                {% transformat 'index:content:maillinglist1' mailinglist_url %}
            </p>
        </div>
    </div>
{% endif %}
{% endblock %}
