{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}

{% block header_title %}
    {% trans 'ldap_password:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% trans 'ldap_password:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>
            {% trans 'ldap_password:content' %}
        </p>
        <p>
            <a href="https://www.uu.nl/wachtwoord">
                {% trans 'ldap_password:link' %}
            </a>
        </p>
    </div>
</div>
{% endblock %}
