{% extends "base/ppn_base.html" %}
{% load i18n %}

{% block header_title %}
    {% trans 'reset_password:content:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% trans 'reset_password:content:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        {% if valid %}
            <p>
                {% trans 'reset_password:content:help_text' %}
            </p>
            <form method="post" enctype="multipart/form-data" class="uu-form uu-form-no-gap uu-form-no-help">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-3">
                    {% trans 'reset_password:content:change_button' %}
                </button>
            </form>
        {% else %}
            <p>
                {% trans 'reset_password:content:invalid_token' %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
