{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load static %}
{% load datatables %}

{% block html_head %}
    <link href="{% static 'participant/register/style.css' %}" rel="stylesheet" />
    <script nonce="{{ request.csp_nonce }}">
    $(function () {
        $('.dt_custom').DataTable({
            order: [[2, 'asc'], [3, 'asc']],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ["10", "25", "50", "100", "\u221e"]
            ],
            responsive: true,
            paginationType: "full_numbers",
        });
    });
    </script>
{% endblock%}

{% block header_title %}
    {% trans 'appointments:content:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% trans 'appointments:content:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>
            {% trans 'appointments:content:p1' %}
        </p>
        <table class="dt_custom table w-100" data-language="{% datatables_lang %}">
            <thead>
                <tr>
                    <th>
                        {% trans 'appointments:thead:experiment' %}
                    </th>
                    <th>
                        {% trans 'appointments:thead:day' %}
                    </th>
                    <th>
                        {% trans 'appointments:thead:date' %}
                    </th>
                    <th>
                        {% trans 'appointments:thead:time' %}
                    </th>
                    <th>
                        {% trans 'appointments:thead:leader' %}
                    </th>
                    <th>
                        {% trans 'appointments:thead:leader_email' %}
                    </th>
                    <th>
                        {% trans 'appointments:thead:actions' %}
                    </th>
                </tr>
            </thead>
            {% for appointment in appointments %}
                <tr class="align-middle">
                    <td>
                        {{ appointment.experiment.name }}
                    </td>
                    <td>
                        {{ appointment.timeslot.datetime|date:"l"|capfirst }}
                    </td>
                    <td>
                        {{ appointment.timeslot.datetime|date:'d-m-Y' }}
                    </td>
                    <td>
                        {{ appointment.timeslot.datetime|date:'H:i' }}
                    </td>
                    <td>
                        {{ appointment.experiment.leader.name }}
                    </td>
                    <td>
                        {{ appointment.experiment.leader.email }}
                    </td>
                    <td>
                        {% if appointment.can_cancel %}
                            {% if token %}
                                <a href="{% url 'participant:cancel_appointment' token appointment.id %}" class="btn btn-sm btn-primary">
                                    {% trans 'appointments:content:cancel' %}
                                </a>
                            {% else %}
                                <a href="{% url 'participant:cancel_appointment' appointment.id %}" class="btn btn-sm btn-primary">
                                    {% trans 'appointments:content:cancel' %}
                                </a>
                            {% endif %}
                        {% else %}
                            {% trans 'appointments:content:cannot_cancel' %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
